*{
    box-sizing: border-box;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, Helvetica, sans-serif;

}
label{
    display: block;

}
input{
    width: 100%;
  
    border:1px solid rgb(246, 241, 241);
    border-radius: 0.4rem;
    padding: 0.4rem;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}
.main{
 background-color: rgb(244, 242, 242);
border-radius: 8px;
display: grid;
grid-template-columns: 1fr 1fr;
margin: 2rem auto;
gap: 2rem;
width: max-content;
height: 80%;


}

.container{
    display: grid;
   grid-template-rows: 25% 75%;
    gap:2rem;
    margin-left: 1rem;
}
.contact__form{
    margin-top: 2rem;

}

.shipping__form{
    display: flex;
    flex-direction: column;
}
.contact-info{
    display:flex;
    margin-bottom: 1rem;
    border: 1px solid rgb(211, 208, 208) ;

    border-radius: 4px;
    gap: 0.2rem;
    color: rgb(156, 156, 156);

}
.contact-info i{

   align-self: center;
   padding-left: 0.6rem;
}
.header{
    text-align:center;
}



.world-select{
    padding:0.3rem;

}
.world-select select{
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}

.btn-continue{
    margin-top: 1rem;
background-color: coral;
    align-self: flex-end;
    border: none;
    color:white;
    padding: 0.8rem;
    border-radius: 8px;

 
}
img{
    height:9rem;
    width: 7;
    border-radius: 10px;
}

.shopping-cart{
    display: flex;
    flex-direction: column;
    width:auto;
    margin-top:3rem;
    gap:2rem;
    background-color: rgb(215, 210, 210);
    padding:1rem;
    height:fit-content ;
    border-radius: 9px;

    
    
}
.product1{
    display: flex;
    gap: 1rem;
    height: 50%;

  

}
.product1 h3{
   margin: 0;
  
}
.info{
display: grid;
grid-template-rows: 0.5fr 1fr;
}
.info-text{
    margin-bottom: 0;
}
.buttons{
display: flex;
border:1px solid rgb(136, 136, 136);
gap:0.1rem;
width: 6rem;
border-radius: 8px;
height: 2rem;
justify-content: space-between;

padding: 0.2rem;
}
.buttons p{
    align-self: center;
}
.buttons button{
    background-color: rgb(149, 143, 143);
    text-decoration: none;
    border: none;
    border-radius: 4px;
    width: 1.5rem;


    font-size: larger;
    color:black;
   font-weight: bolder;
}

.country-info{
    display: flex;
    gap: 1rem;
}
.checklist{
    padding-top: 1rem;
    display: grid;
   grid-template-columns: 15% 85%;
   justify-content: right;
    
}
.checklist input{
    margin-left: -1rem;
}

.total{
    display: flex;
    flex-direction: column;
  
}
.total-1{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(131, 128, 128);
}
.total-1 p{

    margin: 0.2rem;
}

@media  screen and (max-width:950px )   and (min-width:700px){
 .shopping-cart{
    height:max-content;
 }   
}
@media screen and (max-width:699px) {
    
    .main{
        display: flex;
        flex-direction: column;
        height: fit-content;
        
    }
    .container{
height: 50%;
    }
    .btn-continue{
        align-self: center;
        width: 10rem;
        justify-content: center;
    }
    .shopping-cart{
        height: 50%;
        width:auto;
        margin: auto;
    }
    .checklist{
        grid-template-columns:10% 90%;
        
        justify-content:left
    }
    .checklist input{
        margin-left: 0;
    }
    
}